TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

RTSP_STREAM_URL=rtsp://username:password@192.168.1.100:554/stream1
VIDEO_PATH=./theft.mp4

MODEL_PATH=yolo11m-pose.pt
MODEL_ENGINE=yolo11m-pose.engine

SEC_TO_FAINT=30
FRAME_SKIP=2
ESTIMATED_FPS=15
MODEL_CONF=0.25
MODEL_IMGSZ=480
MSG_COOLDOWN=30

DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD=admin123
EMERGENCY_NUMBER=100
PORT=8000